body{
    margin: 0;
    padding: 0;
   
}
.btn{
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-color:  rgb(225, 204, 204);;
    border: 2px solid;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
.buttons{
    text-align: center;
}
.preview{
    text-align: center;
}

.textarea{
    text-align: center;
    
}
.htag{
  color: rgb(1, 8, 12);;
}

.div{
    font-weight: bolder;
}